{% extends 'base.html' %}
{%block title%}Home{% endblock %}
{%block content%}

{% for msg in get_flashed_messages() %}
<p class="flash">{{msg}}</p>
{% endfor %}

<p>Question: {{question}}</p>
<form method="post">
    
    {% for choice in choices%}
        <input type="radio" id="{{choice}}"" name="selected_option" value="{{choice}}"> 
        <label for="{{choice}}">{{choice}}</label>
    {% endfor %}       
    
    {% if allowText %}       
        <label for="Other">Other:</label>
        <input type="text" id="Other" placeholder="Other" name="selected_option">
    {% endif %}
    <button type="submit">SUBMIT</button>
</form>
<hr>
<section id="debugging">
    Session['responses'] =  {{session['responses']}}
</section>



{% endblock %}




